@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-appbg font-sans text-neutral-900 antialiased;
  }
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  ::-webkit-scrollbar-thumb {
    @apply rounded-full bg-neutral-300;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
  }
}
